* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
img {
  max-width: 100%;
}
body {
  height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.main-container {
  overflow: hidden;
  padding: 0.51em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 340px;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main-container form {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 90%;
  margin: 1em auto;
  border: 1px solid #fff;
  border-radius: 7px;
  overflow: hidden;
  background-color: #fff;
}

.main-container form input {
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.5em;
  border: none;
  width: 100%;
  outline: none;
}

.main-container form button {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  border: none;
  outline: none;
  border-radius: 7px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
}

.container {
  max-height: 350px;
  overflow: auto;
  padding: 0 0.8em;
}

.deleteImage {
  width: 30px;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 0.5em;
  margin: 0.71em 0;
  gap: 0.71em;
}

.box h2 {
  color: #fff;
  font-family: monospace;
  font-size: 1em;
  text-transform: capitalize;
}

#clear {
  background: none;
  color: #fff;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 7px;
  font-size: 1.2em;
  padding: 0.45em 0;
  margin: 1em 0;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  padding: 1em;
  text-align: center;
  background-image: linear-gradient(-45deg, #93a5cf 0%, #e4efe9 100%);
}

footer a {
  text-decoration: none;
}

@media (min-width: 650px) {
  * {
    font-family: monospace;
  }
  .main-container {
    width: 40vw;
    padding: 2em;
    border-radius: 10px;
  }
  .container {
    padding: 0 3em;
  }
  .container .box {
    margin: 1.4em 0;
  }
  .main-container form {
    border-radius: 7px;
  }
  .main-container form button {
    font-size: 2em;
    width: 30%;
    padding: 0.51em 0;
    border-radius: 7px;
  }
  .box h2 {
    font-size: 1.7em;
  }

  #clear {
    font-size: 1.5em;
    padding: 0.5em 0;
  }
}
